header {
    height: 15vh;
}
main {
    height: 80vh;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow:hidden;
}

li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

li a {
    display: block;
    text-align: center;
    padding: 10px;
    width: 80px;
    text-decoration: none;
}

li a:hover {
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.nav-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.navbar-brand {
    display: block;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
