.main-layout-transparent {
    background: linear-gradient(
        rgba(0,0,255,0.45),
        rgba(0,0,255,0.45)
    );
    height: 65px;    
}

.main-layout-transparent .mdl-layout__header,
.main-layout-transparent .mdl-layout__drawer-button {
    background: rgba(0,0,0,0.3);
    color: white;
}

.header-text {
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}