body {
    font-family: sans-serif;
    margin:0;
    padding:0;
    background-color: #eeeeee;
}

input[type=text], input[type=password] {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    padding: 12px;
    font-size: 12pt;
}

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 12px;
    border: 1px solid rgba(81, 203, 238, 1);
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button {
    float: right;
    position: relative;
    overflow: hidden;
    padding: 16px 32px;
    background: none;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14pt;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #ccc;
    border-radius: 100%;
    border:none;
    opacity: .6;
    transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

button:not(:active):after {
  animation: ripple 1s ease-out;
}

button:after {
  visibility: hidden;
}

button:focus:after {
  visibility: visible;
}
