li {
    list-style: none;
    margin: 0px;
    padding: 5px;
}

input {
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e0e0e0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e0e0e0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e0e0e0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #e0e0e0;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #e0e0e0;
}

input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}


label {
    display: inline-block;
    width: 17%;
    background-color: white;
}

.body-container {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-container {
    color: white;
    padding: 25px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    /*background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;*/
}

.header-text {
    padding: 40px;
}

.error-panel {
    width: 19%;
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
}
.error-ul {
    background-color: #ff9494;
}


.footer {
    padding: 0px 5px 20px 0px;
}

.field-long {
    width: 79%;
}

.link {
    display: inline-block;
    font-size: 11px;
    margin-left: 40px;
    color: #ccc;
    text-decorations: none;
}

.link a {
    text-decorations: none;
    outline: none;
}
