<div class="main-container">
    <div class="head-container">
        <p>Create an account</p>
    </div>
    <div class="card-container">
        <div class="form-container">

            <div class="form-group">
                <label for="firstname" class="col-25">First Name :</label>
                <input type="text" name="firstname" required>
            </div>

            <div class="form-group">
                <label for="lastname" class="col-25">Last Name :</label>
                <input type="text" name="lastname" required class="col-75">
            </div>

            <div class="form-group">
                <label for="username" class="col-25">Username :</label>
                <input type="text" name="username" required class="col-75">
            </div>

            <div class="form-group">
                <label for="password" class="col-25">Password :</label>
                <input type="password" name="password" required class="col-75">
            </div>

            <div class="form-group">
                <label for="confirmpassword" class="col-25">Confirm Password :</label>
                <input type="password" name="confirmpassword" required class="col-75">
            </div>

            <div class="form-group">
                <div class="col-25">
                </div>
                <div class="col-75">
                    <button type="submit" (click)="onCreate()">Create</button>
                    <button type="submit" (click)="onReset()">Reset</button>
                </div>

            </div>

        </div>
    </div>
</div>
